input[type=text]{
	color:Blue;
	background-color:grey;
	font-family:Arial;
}

input[type=radio]{
	color:Red;
}

input[name=Country]{
	color:Green;
}

#submit{
	color:Blue
	size:12
}

.message{
	width:50%;
	border:15px solid green;
	padding:50px;
	margin:20px;
}


